#user-upload-img-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: cornsilk;
    border-radius: 50%;
}

#user-upload-img-preview img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.Change-profile-photo .main-content .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Change-profile-photo .main-content .btn-group button {
    border: none;
    background-color: transparent;
    border-radius: 0;
    width: 40px;
    color: var(--highligh-links);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}
