.feed-container {
  padding-top: 16px;
}

.post-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 1rem 1rem; */
  border: 1px solid var(--border);
  border-bottom: 0;
  margin: 16px 16px;
  width: 614px;

  /* width: 100%; */
  /* height: 30rem; */
  justify-content: space-between;
}
.post-img {
  /* padding: 100px 0; */
  min-height: 40vh;
  object-fit: cotain;
  /* border-top: 1px solid var(--border); */
  /* border-bottom: 1px solid var(--border); */
  /* background-color: var(--border); */
}
.post-img-overlay {
  /* padding: 100px 0; */

  object-fit: contain;
  height: 40vh;
  /* max-width: 80vh; */
  /* border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  background-color: var(--border); */
}
.post-topbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  height: 64px;
  background-color: var(--background-bright);
  border-bottom: 1px solid var(--border);
}
.desc {
  margin-top: 8px;
}
.comment-box {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px;
  height: 40px;
  background-color: var(--background-bright);
}
.post-comments {
  flex-grow: 1;
  /* max-width: 100%; */
  width: 399px;
  height: 20vh;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: auto;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--border);
}
.comment-input {
  border: 0;
  flex-grow: 1;
}
.comment-content {
  /* display: inline; */
  display: contents;
}
.date-txt {
  /* margin-top: 8px; */
  filter: contrast(1%);
}
.post-user {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}
.post-username {
  padding: 0px 10px;
}
.post-bottom {
  /* padding: 8px 16px; */
  background-color: var(--background-bright);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.post-overlay-side {
  width: 400px;
  height: 40vh;
  border-left: 1px solid var(--border);
}
.bold {
  font-weight: bold;
}
.not-bold {
  font-weight: normal;
}
.like-div {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 8px;
}
.disabled {
  filter: brightness(150%);
}
.disabled:hover {
  filter: brightness(150%);
}
.instagram-heart {
  transform: scale(100%);
}

.instagram-heart:focus {
  animation-duration: 1500ms;
  animation-name: like-heart-animation;
  animation-timing-function: ease-in-out;
}

@keyframes like-heart-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  30% {
    transform: scale(0.9);
  }
  45%,
  80% {
    opacity: 0.9;
    transform: scale(1);
  }
}
.center-text {
  display: flex;
  align-items: center;
}
.overlay-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25vh;
}
.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}
.padded {
  padding: 8px 16px;
}
