.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 1rem 1rem; */
  border: 1px solid black;
  border-bottom: 0;
  margin: 10px 10px;
  width: 60rem;
  /* height: 30rem; */
  justify-content: space-between;
}
.post-img {
  /* padding: 100px 0; */
  /* width: auto; */
  object-fit: contain;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: black;
}
.post-topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: var(--background-bright);
}

.comment-box {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: var(--background-bright);
}
.comment-input {
  border: 0;

  flex-grow: 1;
}
.date-txt {
  padding: 10px 0px;
}
.post-user {
  display: flex;
  align-items: center;
}
.post-username {
  padding: 0px 10px;
}
.post-bottom {
  padding: 10px 10px;
  background-color: var(--background-bright);
}
.comment-name {
  font-weight: bold;
}
.like-div {
  display: flex;
  align-items: center;
}
.like-div > * {
  margin: 0px 5px;
}
