.feed-container {
  padding-top: 16px;
}

.post-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 1rem 1rem; */
  border: 1px solid var(--border);
  border-bottom: 0;
  margin: 16px 16px;
  width: 614px;

  /* width: 100%; */
  /* height: 30rem; */
  justify-content: space-between;
}
.post-img {
  /* padding: 100px 0; */
  /* min-height: 40vh; */

  object-fit: contain;
  /* border-top: 1px solid var(--border); */
  /* border-bottom: 1px solid var(--border); */
  /* background-color: var(--border); */
}
.post-img-overlay {
  /* padding: 100px 0; */

  object-fit: contain;
  /* height: 40vh; */
  max-width: 60vw;
  max-height: 55vh;
  background-color: var(--background-dark);
  /* max-width: 80vh; */
  /* border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  background-color: var(--border); */
}
.post-topbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  height: 64px;
  background-color: var(--background-bright);
  border-bottom: 1px solid var(--border);
}
.desc {
  /* margin-top: 8px; */
  /* display: inline-block; */
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.comment-box {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  /* height: 64px; */
  background-color: var(--background-bright);
}
.post-comments {
  flex-grow: 2;
  /* max-width: 100%; */
  width: 380px;
  /* max-height: 20em; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: auto;
  /* overflow-x: hidden; */
  /* margin-bottom: 8px; */
  /* border-bottom: 1px solid var(--border); */
}
.comment-input {
  border: 0;
  flex-grow: 1;
}
.comment-content {
  /* display: inline; */
  display: inline-block;
  max-width: 80%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.date-txt {
  /* margin-top: 8px; */
  filter: contrast(1%);
}
.post-user {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}
.post-username {
  padding: 0px 16px;
}
.post-bottom {
  /* padding: 8px 16px; */
  background-color: var(--background-bright);

  /* flex: 1 1 auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.post-overlay-side {
  width: 400px;
  height: 60vh;
  border-left: 1px solid var(--border);
  background-color: var(--background-bright);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
}
.bold {
  font-weight: bold;
}
.not-bold {
  font-weight: normal;
}
.like-div {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 8px;
}
.disabled {
  filter: brightness(150%);
}
.disabled:hover {
  filter: brightness(150%);
}
.instagram-heart {
  transform: scale(100%);
}

.instagram-heart:focus {
  animation-duration: 1500ms;
  animation-name: like-heart-animation;
  animation-timing-function: ease-in-out;
}

@keyframes like-heart-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  30% {
    transform: scale(0.9);
  }
  45%,
  80% {
    opacity: 0.9;
    transform: scale(1);
  }
}
.center-text {
  display: flex;
  align-items: center;
}
.overlay-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  /* align-items: center; */
  /* padding-top: 20vh; */
}
.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}
.padded {
  padding: 8px 16px;
  /* background-color: var(--background-bright); */
}
.edit-textarea {
  border: 1px solid var(--border);
}

.edit-textarea:focus {
  outline: 1px solid var(--border-focus);
}
.bare-textarea {
  /* padding: 15px 0px; */
  height: 32px;
  padding-top: 5px;
  resize: none;
  border: 0;
  flex-grow: 1;
  /* line-height: 40px; */
}
.bare-textarea:focus {
  outline: 0;
}
.dark-background {
  background-color: var(--background-dark);
  height: 60vh;
  /* overflow: auto; */
}
.MuiPaper-root {
  border-radius: 0 !important;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
}
/* ::placeholder {
  line-height: 3rem;
} */
