.edit_prof_container{
    background-color: white;
}

.profileImg-modal{
   background-color: var(--background-bright);
    height: 75vh;
    width: 400px;
    max-height: 500px;
    border-radius: 10px;
}

.remove_option_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    background-color: #fff;
    border-radius: 12px;
    font-size: 14px;
    animation: popup .4s forwards;
    overflow: hidden;
}

.hidden {
    display: none!important;
}

.edit_prof_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px!important;
    margin: 32px 16px 0;
    justify-content: center;
    border-bottom: 0.5px solid #dbdbdb;
    padding-bottom: 16px;
}

.edit_profile_img{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    object-fit: cover;
    font-size: 14px;
    user-select: none;
    cursor: default;
    margin-bottom: 16px;
}

.edit_curr{
    color: #262626;
    font-size: 18px;
    font-weight: 500;
    display: block;
}

.upload_option .remove_option {
    height: 48px;
    width: 400px;
    /* height: 100px; */
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 0.5px solid #dbdbdb;
}

.cancel_option{
    height: 48px;
    justify-content: center;
    color: #262626;
    cursor: pointer;
    border-bottom: 0.5px solid #dbdbdb;
}

.remove_confirm_container{
   background-color: #fff;
    border-radius: 12px;
    flex-direction: column;
    animation: popup .4s forwards;
    overflow: hidden;
    width: 400px;
    align-items: center;
    font-size: 14px;
}

.remove_confirm_head{
    display: flex;
    flex-direction: column;
    width: 400px;
    border-bottom: 0.5px solid #dbdbdb;
    justify-content: center;
    align-items: center;
    margin: 32px 16px 0;
    padding-bottom: 16px;
    font-size: 14px;
}

.remove_header{
    font-size: 18px;
    color: #262626;
    display: block;
}

.hint{
    padding: 16px 0 0;
    font-size: 14px;
    color: #8e8e8e;
    width: 334px;
    text-align: center;
}

.confirm_option{
    height: 48px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 0.5px solid #dbdbdb;
}

.confirm_cancel{
    width: 400px;
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 48px;
    justify-content: center;
    color: #262626;
    cursor: pointer;
    border-bottom: 0.5px solid #dbdbdb;
}