:root {
    --background-bright: #ffffff;
    --background-dark: #fafafa;
    --background-input: #efefef;
    --text-input: #8e8e8e;
    --main-text: #262626;
    --highligh-links: #3795f6;
    --border: #dbdbdb;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
