.nav-bar-btns > div {
  display: inline-block;
  padding: 0 0 0 24px;
  position: relative;
  height: 28px;
}

.nav-bar-btns div button {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.nav-bar-btns div button img {
  height: 100%;
  width: 100%;
}

.active-link {
  display: none;
}

.active-nav .active-link {
  display: inline-block;
}

.active-nav .none-active-link {
  display: none;
}

#border-up-avatar {
  padding: 0.25px;
  /* background-color: var(--background-bright); */
  /* border: 5px solid var(--background-bright); */
  border: 2px solid var(--highligh-links);
}

.nav-avatar-btn {
  background-color: var(--background-bright);
  position: relative;
  bottom: 2px;
}
